
#main {
    padding: 20px 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    align-items: center;
}

/* Bagian header */

.nav-container {
    flex: 2; /*jarak header */
     display: flex;  /* buat keatasin button */
     align-items: center;  /*buat ke tengah  */
}

/* bagian text header */
.nav-list li {
    margin-right: 20px;
    margin-top: 20px;
}

/* bagian text header */
.nav-list li a {
    text-decoration: none;
    color: #333;
    font-family: 'Space Grotesk';
}

/* bagian button */
.button {
    margin-left: auto;
    margin-right: 30px;
    gap: 10px;
    border-radius: 14px;
    border: 1px;
    opacity: 0px;
    margin-top: 5px;
}

.button .btn {
    background-color: #fff;
    border: 1px solid #333;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.button .btn:hover {
    background-color: #333;
    color: #fff;
}


.left-main-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 50px;
    /* bottom: 500px; */
    /* height: 400px; */
    gap: 35px;
    font-family: 'Space Grotesk';
}

.left-main-text h1{
    font-family: 'Space Grotesk';
    font-size: 60px;
    
}
.left-main-text p{
    font-family: 'Space Grotesk';
    font-size: 25px;
}

.col-lg-img{
    width: 600.46px;
    height: 550px;
    gap: 0px;
    /* border: 1px 0px 0px 0px; */
    opacity: 0px;
}

.col ul{
    width:1.440 px;
    height: 68px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 40px;
    padding: 0px, 100px, 0px, 100px;
    margin-top: 25px;
}

.container ul li a{
    text-decoration: none;
    color:#000000 ;
}

/* jarak logo  */
.col-lg {
    display: flex;
    justify-content: space-between;
    padding: 0px, 100px, 0px, 100px;
    gap: 50px;
    width: 1.440px;
}

.row1{
    margin-bottom: 70px;
}

/* bagian service */
.col-lg-5 {
    background-color: #B9FF66; /* Warna latar belakang sesuai dengan gambar */
    padding: 5px; /* Padding yang merata di semua sisi */
    width: 140px; /* Lebar elemen */
    border-radius: 10%; /* Border radius lebih besar untuk sudut yang lebih melengkung */
    font-family: 'Space Grotesk';
    font-size: 20px; /* Ukuran font disesuaikan */
    font-weight: 700; /* Ketebalan font lebih tebal */
    line-height: 30px; /* Tinggi baris */
    text-align: center; /* Penjajaran teks di tengah */
    margin-left: 20px; /* Margin kiri */
    margin-right: 30px; /* Margin kanan */
    display: inline-block; /* Membuat elemen inline-block agar lebar sesuai dengan konten */
    margin-top: 50px;
}

/* bagian text  */
.coll-lg-6{
    width: 600px;
    height: 46px;
    gap: 0px;
    opacity: 0px;
    font-family: 'Space Grotesk';
    font-size: 18px;
    font-weight: 400;
    line-height: 22.97px;
    text-align: left;
    margin-left: 200px;
    margin-top: -50px;
    }

.col-lg-7{
    width: 550px;
    height: 50px;
    background-color: azure;
    
}

.col-lg-8{
    background-color: #B9FF66;
    background-size: auto;
    margin-top: 50px;
    width: 19%;
    height: 45px;
    gap: 40px;
    opacity: 0px;
    border-radius: 7%;
}
.col-lg-9{
    margin-top: 50px;
    width: 40%;
    height: Hug (51px)px;
    gap: 0px;
    opacity: 0px;
    
}



.card{
    width: 600px;
    height: 310px; 
    gap: 0px;
    opacity: 0px;
    background-color: #F3F3F3;
    border-radius: 45px;
    box-shadow: 0px 5px 0px 0px #191A23;
    border: 1px solid #191A23;
    margin: 10px;
    }

    /* bagian warna background card */
.col2 .card{
    background-color: #B9FF66;
    
}

.col3 .card{
    background-color: #191A23;
}

.col4 .card{
    background-color:#F3F3F3;
}

.col5 .card{
    background-color:#B9FF66;
}

.col6 .card{
    background-color: #191A23;
}

/* bagian gambar card */
.card-img-top{
    width: 210px;
    height: 150px;
    gap: 0px;
    opacity: 0px;
    margin-top: -70px;
    margin-left: 55%;
    justify-content: center;
    margin-bottom: -50px;
    }

.card-img-top1{
    width: 180px;
    height: auto;
    gap: 0px;
    opacity: 0px;
    margin-top: -100px;
    margin-left: 55%;;
}

.card-img-top2{
    width: 180px;
    height: auto;
    gap: 0px;
    opacity: 0px;
    margin-top: -90px;
    margin-left: 55%;;
}

.card-img-top3{
    width:150px;
    height:auto;
    gap: 0px;
    opacity: 0px;
    margin-top: -100px;
    margin-left: 55%;;
}

.card-img-top4{
    width: 180px;
    height: auto;
    gap: 0px;
    opacity: 0px;
    margin-top: -70px;
    margin-left: 55%;;
}

.card-img-top5{
    width: 180px;
    height: auto;
    gap: 0px;
    opacity: 0px;
    margin-top: -50px;
    margin-left: 55%;;
}

.card-img-top6{
    width: 180px;
    height: auto;
    gap: 0px;
    opacity: 0px;
    margin-top: -90px;
    margin-left: 55%;;
}

/* bagian text h3 card */
.card-title1 {
    font-family: 'Space Grotesk';
    background-color: #B9FF66;
    margin-top: 50px;
    width: 39%;
    height: 43px;
    border-radius: 7px;
    text-align: left;
    display: flex;
    margin-bottom: -35px;
    font-size: 30px; 
    margin-left: 30px; 
    line-height: 38.28px; 
    white-space: pre; 
    padding: 5px;
}

.card-title11 {
    font-family: 'Space Grotesk';
    background-color: #B9FF66;
    width: 195px;
    height: 43px;
    padding: 5px;
    margin-left: 30px;
    border-radius: 9px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px;  
    line-height: 38.28px; 
}
.card-title2{
    font-family: 'Space Grotesk';
    background-color: #ffffff;
    margin-top: 50px;
    width: 33%;
    height: 43px;
    border-radius: 7px;
    text-align: left;
    display: flex;
    margin-bottom: -35px;
    font-size: 30px; 
    margin-left: 30px; 
    line-height: 38.28px; 
    white-space: pre; 
    padding: 5px;
}
.card-title12{
    font-family: 'Space Grotesk';
    background-color: #ffffff;
    width: 178px;
    height: 43px;
    padding: 5px;
    margin-left: 30px;
    border-radius: 9px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px;  
    line-height: 38.28px;
}

.card-title3{
    background-color: #ffffff;
    font-family: 'Space Grotesk';
    margin-top: 50px;
    width: 35%;
    height: 43px;
    border-radius: 7px;
    text-align: left;
    display: flex;
    margin-bottom: -35px;
    font-size: 30px; 
    margin-left: 30px; 
    line-height: 38.28px; 
    white-space: pre; 
    padding: 5px;
}
.card-title13{
    background-color: #ffffff;
    font-family: 'Space Grotesk';
    width: 160px;
    height: 43px;
    padding: 5px;
    margin-left: 30px;
    border-radius: 9px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px;  
    line-height: 38.28px;
}
.card-title4{
    font-family: 'Space Grotesk';
    background-color: #B9FF66;
    margin-top: 50px;
    width: 15%;
    height: 43px;
    border-radius: 7px;
    text-align: left;
    display: flex;
    margin-bottom: -35px;
    font-size: 30px; 
    margin-left: 30px; 
    line-height: 38.28px; 
    white-space: pre; 
    padding: 5px;
}
.card-title14{
    background-color: #B9FF66;
    font-family: 'Space Grotesk';
    width: 160px;
    height: 43px;
    padding: 5px;
    border-radius: 9px;
    text-align: left;
    margin-bottom: -30px;
    font-size: 30px;  
    line-height: 38.28px;
    margin-left: 30px;
}
.card-title5{
    background-color: #fffffe;
    font-family: 'Space Grotesk';
    margin-top: 50px;
    width: 25%;
    height: 43px;
    border-radius: 7px;
    text-align: left;
    display: flex;
    margin-bottom: -35px;
    font-size: 30px; 
    margin-left: 30px; 
    line-height: 38.28px; 
    white-space: pre; 
    padding: 5px;
}

.card-title15{
    background-color: #fffffe;
    font-family: 'Space Grotesk';
    width: 140px;
    height: 43px;
    padding: 5px;
    border-radius: 9px;
    text-align: left;
    margin-bottom: -30px;
    font-size: 30px;  
    line-height: 38.28px;
    margin-left: 30px;
}
.card-title6{
    font-family: 'Space Grotesk';
    background-color: #B9FF66;
    margin-top: 50px;
    width: 37%;
    height: 43px;
    border-radius: 7px;
    text-align: left;
    display: flex;
    margin-bottom: -35px;
    font-size: 30px; 
    margin-left: 30px; 
    line-height: 38.28px; 
    white-space: pre; 
    padding: 5px;
}
.card-title16{
    font-family: 'Space Grotesk';
    background-color: #B9FF66;
    width: 135px;
    height: 43px;
    padding: 5px;
    margin-left: 30px;
    border-radius: 9px;
    text-align: left;
    margin-bottom: 20px;
    font-size: 30px;  
    line-height: 38.28px;
}

/* bagian icon card */
.card-link {
    font-family: 'Space Grotesk';
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    text-decoration: none;
    color: #000;
    margin-left: 5%;
}
.card-link img {
    margin-right: 15px;
    margin-left: 20px;
}
.card-link p{
    margin: 0%
}

.card-link1 {
    font-family: 'Space Grotesk';
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 5%;
    margin-right: 50%;
}

.card-link1 img {
    margin-right: 15px;
    margin-left: 20px;
}

.card-link1 p{
    margin: 0%
}

.card-link p{
    margin: 0%
}






