.col-9 ul {
    display: flex;
    list-style: none;
}
.col-lg-6 .left-hero-text{
    display: flex;
    align-items: center;
    gap: 35px;
}
ul.wrapper-nav {
margin: 0%;
padding: 0;
display: flex;
justify-content: flex-end;
align-items: center;
gap: 56px;
}

.col-lg{
    display: flex;
    justify-content: space-between;
    padding: 0px, 100px, 0px, 100px;
    gap: 95.91px;
    width: 1.440px;
}